*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

#nav-header{
  box-shadow: 0px 0px 10px black;
  display: flex;
  width: 100%;
  height: 14vh;
  position: fixed;
  background: white;
  margin: 0;
  padding: 0;
  z-index: 1000000;
  top: 0;
  left: 0;
}

p#nom-nav{
  font-weight: 500;
  display: block;
  width: 20%;
  font-size: 150%;
  line-height : 90%;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}

img#logo-nav{
  width: 15%;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1%;
  display: block;
}

#nav-gauche{
  width: 50%;
  display: flex;
}

#nav-droite{
  width: 50%;
  display: flex;

}

ul#menu-menu-reseaux{
  list-style-type: none;
  text-decoration: none;
  list-style-position: outside;
  width: 50%;
  margin-left: 50%;
  display: flex;
  align-items:flex-end;
  height: 100%;
  margin-top:0;
  margin-bottom: 0;

}

ul#menu-menu-reseaux a{
  text-decoration: none;
  list-style-position: outside;
  white-space: nowrap;
  font-weight: 500;
  font-size: 100%;
  height: 100%;
  color: black;
  position: relative;
}

ul#menu-menu-reseaux  li > a {
  position: relative;
  color: black;
  text-decoration: none;
}

ul#menu-menu-reseaux li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: -10;
  top: 25px;
  background-color: #576E34;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

ul#menu-menu-reseaux li > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

ul#menu-menu-reseaux li{
  list-style-position: outside;
  white-space: nowrap;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

div#dessous-nav{
  position: relative;
}

div#video_header{
  max-height:50vh;
}

div#video_header video{
  width: 100%
}

div#dessous-nav img{
  width: 120%;
}

p#texte_header{
  width: 100%;
  height: 40%;
  margin: 0 auto 0;
  padding-top: 20%;
  font-size: 300%;
  text-align: center;
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 40;

}

div#premierepage_orange{
  width: 70%;
  background: #DDBE1A;
  position: absolute;
  z-index: 20;
  margin-top: 35%;
  left: 15%;
}

div#premierepage_vert{
  width: 30%;
  background: #576E34;
  position: absolute;
  z-index: 200;
  margin-top: 45%;
  left: 35%;
  transition: 0.3s;
}

div#premierepage_vert:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
}

div#premierepage_vert p{
  margin: 3%;
  font-size: 130%;
  font-weight: 500;
  text-align: center;
  color: white;
}

span.bold{
  font-weight: 500;
}

div#premierepage_orange p{
  margin: 4% 10% 5% 10%;
  font-size: 120%;
  font-weight: 200;
  text-align: center;
  line-height: 130%;
}
